body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15vh;
}

.name {
    display: flex;
    background-color: lightgray;
    height: 60%;
    justify-content: left;
    align-items: center;
    padding-left: 5%;
    font-style: italic;
}

.haeder {
    display: flex;
    background-color: black;
    height: 40%;
    justify-content: left;
    align-items: center;
    padding-left: 3%;
}

.haeder button {
    background-color: black;
    color: white;
    border: 0;
    padding: 6px 12px;
}

.main {
    display: flex;
    flex-direction: row;

    justify-content: center;
    width: 100%;
}

.list-books {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 219, 241);
    justify-content: first baseline;
    width: 75vw;
    padding: 3%;
    height: 85vh;
    /* max-height: 85vh;
    overflow-y: auto; */
}


.table-container{
    max-height: 60vh;
    overflow-y: auto;
    margin-bottom: 4%;
    display: flex; 
    flex-direction: column;
}


.table {
    width: 90%;
    margin: 0;
    flex-grow: 1; 
    height: 60vh;
}

td,
th {
    border: 1px solid rgb(188, 186, 186);
    /* text-align: left; */
    padding: 1px;
    margin: 0;
    height: 3%;
    background-color: white;
}

th {
    background-color: gray;
    top: 0; 
    z-index: 1;
}


td button {
    background-color: white;
    color: black;
}


.guide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.guide button {
    background-color: blueviolet;
    border: 0;
    padding: 4px 32px;
    color: white;
}

.book-details {
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding-right: 1%;
    width: 25vw;
}

.book-name {
    background-color: gray;
    text-align: center;
    font-size: 24px;
    min-height: 10vh;
    align-content: center;
}

.book-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10%;
    width: 100%;
}

.image-book {
    width: 50%;
    padding-right: 3%;
}

#image-book {
    width: 100%;
}

.price-rate {
    width: 50%;
    margin-left: 3%;
    margin-right: 3%;
}

.rate {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 3%;
    justify-content: center;
    align-content: center;;
    width: 100%;
    text-align: center;
}

.rate-look button {
    background-color: blueviolet;
    border: 0;
    padding: 4px 12px;
    justify-content: center;
    width: 25%;
    text-align: center;
    margin: 0;
    align-content: center;
}

.rate-look{
    background-color: lightgray;
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-left: 2%;
}
.connectionWithUser {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 15%;
    right: 35%;
    width: 30vw;
    /* height: 50%; */
    border: 3px solid #73AD21;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    justify-content: center;
    align-items: center;
    max-height: 70vh;
    overflow-y: auto;
}

.connectionWithUser form{
    display: flex;
    flex-direction: column;
}
.connectionWithUser button{
    color: black;
}

.connectionWithUser input, textarea{
    color: black;
}
.welcome{
    margin-top: 25%;
}
@media only screen and (max-width: 1200px) {
    .book-description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10%;
        width: 100%;
    }

    .image-book {
        width: 100%;
        padding-right: 0%;
    }

    .price-rate {
        width: 100%;
        margin-left: 3%;
        margin-right: 3%;
    }
}